@import '~bootstrap';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}



.card-info-rs{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #FBC8C8;
}

.wrapper{
    background: #ffff;
    width: 400px;
    box-shadow: 22px 22px 136px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.form-detail-rs{
    padding: 25px 30px;
}

.form-detail-rs header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
    padding-bottom: 15px;
}

.form-detail-rs label {
    padding-bottom: 5px;
    font-size: 15px;
}

.form-detail-rs input[type = text]{
    height: 25px;
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px 15px;
    box-sizing: border-box;
}

.form-detail-rs input[type = file]{
    padding-top: 10px;
}

.form-detail-rs .field{
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

